.card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, sans-serif;
}


.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
}


.card__delete-btn {
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/hover\ delete.svg);
}



.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  cursor: pointer;
  width: 23px;
  height: 20px;
  border: 2px hidden;
  background-color: transparent;
  background-size: cover;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;

}


.card__like-btn_active {
  background-image: url(../images/like.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}



@media screen and (max-width: 627px) {
  .card__title {
    line-height: 100%;
    font-size: 16px;
    max-width: 250px;
  }
  .card__image {
    height: 288px;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
